@model List<UserInfo>
@{
    ViewBag.Title = "Katılımcı Listesi";
}

<h1 class="h4 text-center">Toplantı Katılımcı Listesi</h1>

<table class="table table-bordered">
    <thead>
        <td>Ad</td>
        <td>Katılım Durumu</td>
        <td></td>
    </thead>
    <tbody>

        @foreach(UserInfo user in Model){

            var durum = user.WillAttend ? "Evet" : "Hayır";
            var classname = user.WillAttend ? "table-success" : "table-danger";
            <tr class="@classname">
                <td>@user.Name</td>
                <td>@durum</td>                
                <td>
                    <a asp-controller="meeting" asp-action="details" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Detay</a>
                </td>
            </tr>
        }   
    </tbody>
</table>

<div class="card">
    <div class="card-body">
        <p>Katılımcı Sayısı: @Model.Where(user => user.WillAttend == true).Count()</p>
    </div>
</div>
